[user]
  name = Eivind Uggedal
  email = eivind@uggedal.com
[color]
  ui = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  todo = !git ls-files | xargs grep --color=auto -onE '(TODO|FIXME):.*$'
  unpush = push -f origin HEAD^:master
[push]
  default = upstream
[log]
  date = iso
[advice]
  statusHints = false
