[user]
  name = Eivind Uggedal
  email = eivind@uggedal.com
[core]
  abbrev = 12
[color]
  ui = auto
[alias]
  co = checkout
  ci = commit
  st = status --short --branch
  br = branch
  cached = diff --cached
  todo = !git ls-files | xargs grep --color=auto -onE '(TODO|FIXME):.*$'
  dangling = !git fsck 2> /dev/null | grep '^dangling commit' | awk '{print $3}' | git log --stdin --no-walk
  substatus = !"for g in $(find $GIT_PREFIX -maxdepth 2 -name .git); do (w=${g%/*}; cd $w; if ! git diff --no-ext-diff --quiet --exit-code; then pwd; git status; echo; fi); done"
  unpush = push -f origin HEAD^:master
  unmerged = ls-files --unmerged
[push]
  default = upstream
[pull]
  rebase = true
[log]
  date = iso
  abbrevCommit = true
[advice]
  statusHints = false
[diff]
  tool = vimdiff
[merge]
  conflictstyle = diff3
[format]
  pretty = %C(red)%h %C(green)%ad %C(white)%ae%Creset%n%w(79,2,2)%s%n%n%w(79,2,2)%-b
[sendemail]
  smtpuser = eivind@uggedal.com
  smtpserver = smtp.gmail.com
  smtpserverport = 587
  smtpencryption = tls
  suppresscc = all
[github]
  user = uggedal
