# disable display of '^C' and other control characters
set echo-control-characters off

# use case-insensitive file name matching and completion
set completion-ignore-case on

# list all ambiguous completion matches immediately
set show-all-if-ambiguous on

# do not show hidden files in completion matches unless
# the pattern begins with `.`
set match-hidden-files off

# disable confirmation before listing many completion matches
set completion-query-items -1

# display completion matches without columns
set completion-display-width 0

# enable non-stupid behavior when completing inside a word
set skip-completed-text on

# vi mode
set editing-mode vi

$if mode=vi
  # clear screen like in emacs mode
  "\C-l":clear-screen
$endif

# history search with arrow keys
"\e[A":history-search-backward
"\e[B":history-search-forward
