# disable display of '^C' and other control characters
set echo-control-characters off

# use case-insensitive file name matching and completion
set completion-ignore-case on

# history search with arrow keys
"\e[A":history-search-backward
"\e[B":history-search-forward
